<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697945399042-2nhfmklhlf0h4f5tg753p6fnqug8is79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697945399042-2nhfmklhlf0h4f5tg753p6fnqug8is79</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>697945399042-5pvotbb6i49lnk1o51d8irbpcm2mlmit.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_7T4WJP85LefrpQU9qLI6OuYkIIs_eaw</string>
	<key>GCM_SENDER_ID</key>
	<string>697945399042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houseToMotiveApp</string>
	<key>PROJECT_ID</key>
	<string>house-to-motive-cee37</string>
	<key>STORAGE_BUCKET</key>
	<string>house-to-motive-cee37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697945399042:ios:a31692c9d16964bfd96c1b</string>
	<key>DATABASE_URL</key>
	<string>https://house-to-motive-cee37-default-rtdb.firebaseio.com</string>
</dict>
</plist>